<div class="container-fluid">
  <div class="row">
    <img src="../../../assets/home-header.jpg" class="image-header">
    <div class="row">
      <div class="about-us-text">
        <div class="about-us-text-title">Take Care. Save Life.</div>
        <div class="about-us-text-des">If you take care of your pet you contribute to him and to yourself.</div>
      </div>
    </div>
  </div>
  <div class="row about">
    <home-about></home-about>
  </div>
  <div class="row">
    <home-content></home-content>
  </div>
</div>
