.example-card {
  max-width: 400px;
  margin: 33px;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.containerCards{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.cardText{
  font-size: 20px;
}

