.subHeader{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.subHeaderText{
  font-size: 45px;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 10%;
  top: 35%;
}

.no-padding{
  padding: 0;
}
